<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>reg</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="post">-->
<!--    {%csrf_token%}-->
<!--  <table border="1">-->
<!--  <tr>-->
<!--    <th>Question</th>-->
<!--      <td><input type="text" name="q"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>Option 1</th>-->
<!--      <td><input type="text" name="o1"></td>-->
<!--  </tr>-->
<!--      <tr>-->
<!--      <tr>-->
<!--          <th>Option 2</th>-->

<!--          <td><input type="text" name="o2"></td>-->
<!--  </tr>-->
<!--     <tr>-->
<!--    <th>Option 3</th>-->
<!--      <td><input type="text" name="o3"></td>-->
<!--  </tr>-->
<!--     <tr>-->
<!--    <th>Option 4</th>-->
<!--      <td><input type="text" name="o4"></td>-->
<!--  </tr>-->
<!--     <tr>-->
<!--    <th>correct Answer</th>-->
<!--      <td><input type="text" name=c></td>-->
<!--  </tr>-->
<!--  </table>-->
<!--    <br><br>-->
<!--    <button type="submit" value="Submit">Submit</button>-->
<!--<button type="reset" value="Clear">Clear</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->