body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/cf/70/17/cf701732ece053881825d9ae9b96129c.jpg');
    background-color: darkkhaki;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
    background-repeat: no-repeat;
}


form {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:grey;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    width: 400px;
    font-size: small;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 5  px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
.log{
    font-size: small;
}